<%= form_for @request do |f| %>

  Patient ID:

  <p> 
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p> 
    <%= f.label :time %><br>
    <%= f.date_field :time %>
  </p>

  <p> 
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
  <ul>
  <li>
  <%= f.label :issue_param %>
  <%= f.select :issue_param, @i_list, prompt: "Select Issue" %>
  <%= f.select :ti_value, @one_to_ten %>
  </li>
  <li>
  <%= f.label :client_language_param %>
  <%= f.select :client_language_param, @cl_list,  prompt: "Select Language"%>
  <%= f.select :cl_value, @one_to_ten%>
  </li>
  <li>
  <%= f.label :client_category_param %>
  <%= f.select :client_category_param, @cc_list, prompt: "Select Category" %>
  <%= f.select :cc_value, @one_to_ten%>   
  </li>
  <li>
  <%= f.label :client_ethnicity_param %>
  <%= f.select :client_ethnicity_param, @ce_list, prompt: "Select Ethnicity"%>
  <%= f.select :ce_value, @one_to_ten%>
  </li>


  <li><%= f.button :submit %></li></ul>
<% end %>