<%= form_for @request do |f| %>

  Patient ID:

  <p> 
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p> 
    <%= f.label :time %><br>
    <%= f.date_field :time %>
  </p>

  <p> 
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
  
  <ul style="list-style:none;">
  <strong><%= f.label "Select search criteria"  %></strong>
  <li>
  <%= f.label "Select Issue" %>
  <%= f.select :issue_param, @i_list %>
  <%= f.select :ti_value, @one_to_ten %>
  </li>
  <li>
  <%= f.label "Select Language" %>
  <%= f.select :client_language_param, @cl_list%>
  <%= f.select :cl_value, @one_to_ten%>
  </li>
  <li>
  <%= f.label "Select Category" %>
  <%= f.select :client_category_param, @cc_list%>
  <%= f.select :cc_value, @one_to_ten%>   
  </li>
  <li>
  <%= f.label "Select Ethnicity" %>
  <%= f.select :client_ethnicity_param, @ce_list%>
  <%= f.select :ce_value, @one_to_ten%>
  </li>


  <li><%= f.button :submit %></li></ul>
<% end %>