<%= form_for [organization, patient] do |f| %>
  <p> 
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

    <p> 
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>   
    <%= f.label :zip_code %><br>
    <%= f.integer :zip_code %>
  </p>

  <p> 
    <%= f.label :age %><br>
    <%= f.integer :age %>
  </p>

  <p> 
    <%= f.label :sex %><br>
    <%= f.text_field :sex %>
  </p>

  <p> 
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </p>

  <p> 
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>

  <%= f.hidden_field :organization_id, value: organization.id %>

  <%= f.button :submit %>
<% end %>